@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  margin: 0;
  padding: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
      'aside header'
      'aside main'
      'aside footer';
  height: 100vh;
gap: 24px;
}
body {
  background-color: #e2e8f0;
}
.header{
  grid-area: header;
}
.aside{
  grid-area: aside;
  background-color: rgb(8 8 9);
}
.aside ul li:hover {
  background-color: #f6991c;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
}



@media (max-width: 767px) {
  .grid-container {
      display: flex;
      flex-direction: column;
  }

  .aside {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    display: block;
  }
  .aside ul {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .logo{
    position: absolute;
    top: -54px;
    padding: 5px 5px;
    background: white;
    border-radius: 17px;
  }
  .overview-content {
      grid-template-columns: 1fr;
  }
}